.footer > div {
  @include grid(1fr, 10px);
  text-align: center;
}
.footer {
  padding: 30px 0;
  img {
    width: 120px;
    margin: 0 auto;
  }
  &_brend {
    @include flex(center, center, 15px);

    i {
      font-size: 25px;
      color: $color-black;
    }
    i:hover {
      color: $color-red;
    }
    p {
      font-size: 15px;
      color: $color-gray;
    }
    p span {
      color: $color-black;
    }
  }
}
